h1 {
		font-size: 1.7em;
		}

h2 {
		font-size: 1.3em;
		text-transform: uppercase;
		}

body {
			font-family: sans-serif;
			margin: 0px;
			background: white;
			}

a {
	text-decoration: none;
}

a:visited {
					color: #FFF;
}

.item_head {
  cursor:pointer;
}

.mindtrack {
						width: 1024px;
						margin-left: auto;
						margin-right: auto;
						margin-top: 0px;
						}

.title_bar {
						width: 1016px;
						background: #FFB840;
						padding: 4px;
						color: #A66900;
						}
.title_bar h1 {
							display: inline;
							}

.title_bar a {
							float: right;
							font-size: .8em;
							text-transform: uppercase;
							}

.menu_bar {
					width: 1016px;
					background: #4965D6;
					padding: 4px;
					border-bottom: 2px solid white;
					}

.menu_bar h2 {
							display: inline;
							border-right: 1px solid #53536C;
							padding-right: 4px;
							}
							
.menu_bar .projects {
										display: none;
										position: absolute;
										background: #8080FF;
										z-index: 100;
										margin: 0px;
										padding: 0px;
										font-size: 1.2em;
}

.menu_projects {
								cursor: pointer;
}

.menu_bar .projects li {
												list-style-type: none;
												margin: 4px;
}

.project {
					background: #FFB840;
					width: 1024px;
					}

.project .title {
								font-size: 1.2em;
								font-weight: bold;
								width: 1016px;
								padding: 4px;
								color: black;
								background: #1533AD;
								text-align: center;
								border-bottom: 1px solid white;
								}

.project .menu {
								width: 200px;
								float: left;
								text-transform: uppercase;
								}

.project .menu ul {
									list-style-type: none;
									margin: 0px;
									padding-top: 4px;
									padding-left: 4px;
									}

.project .menu ul li {
											padding-bottom: 4px;
											margin-bottom: 4px;
											border-bottom: 1px solid #FFCB73;
											}

.project .menu ul li ul {
												margin-left: 10px;
												}

.project .content {
									margin-left: 202px;
									border-left: 2px solid #FFCB73;
									min-height: 300px;
									}

.section .form {
												text-align: center;
}

.section .form input {
											display: inline;
}

.form_link {
						font-weight: bold;
						margin-top: 4px;
						text-align: center;
}

.project .content .section .title {
																	color: black;
																	font-size: 1.1em;
																	background: #A66900;
																	text-transform: uppercase;
																	width: 812px;
																	}

.project .content .section .description {
																				font-family: monospace;
																				font-weight: bold;
																				font-size: 1.1em;
																				color: #000080;
																				padding: 24px;
																				}

.project .content .section .sub {
																font-size: .9em;
																text-decoration: underline;
																}

.discussion {
						text-align: right;
}

.discussion .text {
									text-align: left;
}

.discussion .author {
										font-style: italic;
}

.project .content .ticket {
													width: 814px;
													}

.project .content .ticket .status {
																	font-weight: bold;
																	text-align: center;
																	}

.project .content .ticket .attachments {
																				padding-bottom: 16px;
																				}

.project .content .ticket .attachments .attachment {
																										font-style: italic;
																										font-size: .9em;
																										padding: 0px 24px 0px;
																										}

.project .content .ticket .attachments .attachment a {
																											font-style: normal;
																											font-size: .8em;
																											text-transform: uppercase;
																											}

.comments {
					margin-left: auto;
					margin-right: auto;
					list-style-type: none;
					width: 70%;
					}

.replies {
					list-style-type: none;
					}

.comments .comment {
										border-top: 2px solid #000080;
										border-right: 2px solid #000080;
										border-bottom: 2px solid #000080;
										margin: 0px;
										margin-bottom: 4px;
										padding-right: 4px;
										padding-bottom: 4px;
										text-align: right;
										}

.replies .reply {
								border-top: 1px solid #000080;
								margin-top: 10px;
								padding-right: 10px;
								background: #DDD;
								}