body {
  background-color:#57647F;
  font: 12px/18px "Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif;
  overflow:hidden;
}

ul {
  padding: 0;
  list-style-type: none;
}

/* --------------------------------- */

/* Begin View-Type Rules */
  .view {
    position:absolute;
    margin:0;
    overflow:hidden;
    border:none;
  }
  .split-view {
    
  }
  .toolbar-view{
    -moz-box-shadow: 0px 0px 7px #000;
    -webkit-box-shadow: 0px 0px 7px #000;
    background: url("/img/sprites/main.png") repeat-x scroll 0 -650px transparent;
    z-index:2;
  }
  .label-view{
    color:white;
  }
/* End View Types */

/* --------------------------------- */

/* Begin Widget-Type Rules */
  .split-view-vertical-divider {
    background: url("/img/sprites/div.png") repeat-y scroll 0 top transparent;
    width:7px;
    top:0;
    bottom:0;
    z-index:1;
    cursor:ew-resize;
  }
  /* Begin Collection-View Subset Rules */
    .arrow {
      position:absolute;
      left:0;
      top:0;
      height:16px;
      right:0;
    }
    .arrow.exp {
      background: url("/img/sprites/main.png") no-repeat scroll -15px -1597px transparent;
    }
    .arrow.col {
      background: url("/img/sprites/main.png") no-repeat scroll -15px -1611px transparent;
    }
    .collection-view li {
      position:relative;
    }
    .collection-view .root-item {
      font-weight:bold;
    }
  /* End Collection-View Subset Rules */
/* End Widget-Type Rules */

/* --------------------------------- */

/* Begin Specific View Rules */
  #top-view {
      height:36px;
      left:0;
      right:0;
      top:0;
  }
  /* Begin Top-View Rules */
  #top-view #title {
    font-size:15px;
    left:0px;
    bottom:0px;
    top:0px;
    padding:8px;
  } 
  /* End Top-View Rules */  
  #middle-view {
    top:36px;
    left:0;
    right:0;
    bottom:32px;   
  }
  /* Begin Middle-View::Split-View Rules */
    #middle-view #split-view-left {
      background-color:white;
      top:0;
      left:0;
      width:25%;
      bottom:0;
    }
    /* Begin Middle-View::Split-View::Left Rules */
      #middle-view #split-view-left #project-tree {
        left:0;
        top:0;
        bottom:0;
        padding:5px;
      }
      #middle-view #split-view-left #project-tree li.col{
        font-size:12px;
        padding-left:16px;

      }
      #middle-view #split-view-left #project-tree li.exp{
        font-size:12px;
        padding-left:16px;

      }
      #middle-view #split-view-left #project-tree li.col li {
        display:none;
      }
    /* End Middle-View::Split-View::Left Rules */
    #middle-view #divider {
      left:25%;
      border-left:1px solid #ccc;
    }
    #middle-view #split-view-right {
      background-color:#57647F;
      top:0;
      right:0;
      left:25%;
      bottom:0;
      padding:0 0 0 10px;
    }
  /* End Middle-View::Split-View Rules */
  #bottom-view {
      height:32px;
      left:0;
      right:0;
      bottom:0;
  }
/* End Specific View Rules */

/* --------------------------------- */

/* Begin Non-SproutMDX Rules */


























