/* mindynamics css */

/* el css reset grande */   
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}:focus {outline: 0;}ins {text-decoration: none;}del {text-decoration: line-through;}table {border-collapse: collapse;border-spacing: 0;}

/* main styles */
.box_shadow{
	-moz-box-shadow: 0px 0px 30px #000;
	-webkit-box-shadow: 0px 0px 30px #000;
	box-shadow: 0px 0px 30px #000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=30, Direction=0, Color='#000000')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=30, Direction=0, Color='#000000');
}
body{
	margin: 0;
	background-color: #c1c1c1;
}
a {
  text-decoration: none;
  color: #0000FF;
}
a:visited, a:active {
  text-decoration: none;
  color: #0000FF;
}
a:hover {
  text-decoration: underline;
  color: #0000FF;
}


#container{
	width: 950px;
	height: 400px;
	margin: auto;
}
#container #header{
	background-image: url('/img/blue_top.png');
	width: 950px;
	height: 200px;
}
#container #header #header_accent{
	background-image: url('/img/white_stripe.png');
	width: 950px;
	height: 200px;
}
#container #header #header_accent #logo {
width: 460px;
height: 100px;
margin-left: 45px;
padding-top: 30px;
}

#container #header #header_links{
  font-family: sans-serif;
  position: relative;
  bottom: 50px;
  left: 780px;
}
#container #header #header_links a {
  color: white;
  text-decoration: none;
}
#container #header #header_links a:hover {
  color: white;
  text-decoration: underline;
}
#container #header #header_links a:active, #container #header #header_links a:visited  {
  color: white;
  text-decoration: underline;
}
#container #header #header_accent #titlez{
	color: white;
	font-style: normal;
	font-size: 60px;
	font-family: buda;
	padding-left: 10px;
}
#container #header #header_accent #slogan{
	font-style: normal;
	font-size: 20px;
	font-family: buda;
	padding-left: 32px;
	padding-top 10;
}

/* container div */
#container #finish{
	margin-top: 10px;
	width: 950px;
	height: 600px;
	background-image: url('/img/glass.png');
}
#container #finish #menu{
	text-align: center;
	width: 900px;
	margin: auto;
	height: 50px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	background-image: url('/img/purple_super_nova.png');
	background-repeat: no-repeat;
	-moz-box-shadow: 0px 0px 40px #000;
	-webkit-box-shadow: 0px 0px 40px #000;
	box-shadow: 0px 0px 40px #000;
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=40, Direction=0, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=40, Direction=0, Color='#000000');
}
#container #finish #menu #wrapper_menu ul{
	padding-top: 15px;
	color: white;
}
#container #finish #menu li{
	display: inline;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 18px 20px 8px 20px;
}
.login{
	background-image: url('/img/login_button.png');
	width: 150px;
	height: 50px;
	text-align: center;
	font-family: buda;
	font-size: 40px;
}
.login a{
	vertical-align: text-bottom;
}
#container #finish #menu li:hover{
	display: inline;
	padding: 18px 19px 8px 19px;
	border-left: 1px solid #1589ff;
	border-right: 1px solid #1589ff;
	background-image: url('/img/white.png');
}
#container #finish #menu li.selected{
	display: inline;
	padding: 18px 19px 8px 19px;
	border-left: 1px solid #1589ff;
	border-right: 1px solid #1589ff;
	background-image: url('/img/white.png');
}
#container #finish #menu li a{
	color: #fff;
	font-size: 30px;
	font-family: buda;
}
#container #finish #main_content {
  background: #fff;
  color: black;
  margin: 0 25px 0 25px; 
  padding: 25px;
  min-height: 450px;
  opacity: 0.5;
  font-size: 13pt;
  font-family: sans-serif;
  
}

#container #finish #main_content p {
  padding-bottom: 10px;
}

#container #finish #main_content img {
padding: 5px;
border: 2px solid blue;
margin: 10px;
}

#container #finish #main_content h1 {
  font-size: 32pt;
  padding-bottom: 15px;
}
/* footer */
#container #footer{
	background-image: url('/img/grey_bot.png');
	margin-top: 10px;
	width: 950px;
	height: 150px;
}
#container #footer #footer_accent{
	background-image: url('/img/gray_fade.png');
	width: 950px;
	height: 150px;
}

.footer_para {
  padding: 50px;
  font-family: buda;
}

