/* mindtrack */ 

html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}body {line-height: 1;}ol, ul {list-style: none;}blockquote, q {quotes: none;}blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}:focus {outline: 0;}ins {text-decoration: none;}del {text-decoration: line-through;}table {border-collapse: collapse;border-spacing: 0;}

body {
  background: #666;
  font-family: sans-serif;
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
  color: white;
}

h1 {
  font-size: 36pt;
}

/* We'll leave the stuff up top until the page is done being redone */

/* Here to my marker is proper css stuff, or at least better */

#content {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 10px;
}


/* Q Rework */
#member_box {
  background: white;
  border: red dashed 3px;
  color: black;
  padding: 15px;
  margin: 10px;
}

/* Q Rework */
#member_box p {
  padding-bottom: 5px;
}

/* My new stuff */
#projects {
	display: inline;
	float: left;
	background: #EEE;
}

#projects .title {
	font-weight: bold;
}

#project_info {
	margin-left: 150px;
}

#project_info .project {
	border: 2px solid black;
	padding: 0px;
}

.project .title {
	font-weight: bold;
	padding: 6px;
	background: #DDD;
	border-bottom: 1px solid black;
}

.project .details {
	text-align: left;
	padding: 4px;
}

.project .details .created, .project .details .updated {
	font-size: .9em;
	margin: 2px;
	margin-left: 30px;
}

.project .messages {
	padding: 4px;
}

.project .messages .message {
}

.project .messages .message .time {
	font-style: italic;
}

.project .messages .message .user {
	font-weight: bold;
}

.project .messages .message .content {
}


/* -------------------------------------------- */

h3.my-projects {
  font-size: 16pt;
  color: white;
}

h4.my-tickets {
  font-size: 28pt;
  color: white;
}

li.project, li.ticket, li.comment, li.reply {
  border: 2px solid white;
  padding: 10px;
}

h4.ticket-header {
  font-size: 24pt;
  color: #00FF00;
  margin-bottom: 10px;
}

div.ticket-name, div.ticket-status {
  font-size: 14pt;
  color: red;
  margin-bottom: 15px;
}

.ticket-description {
  border: 1px solid white;
  padding: 20px;
  color: white;
  margin-top: 15px;
}

.the-description {
  font-size: 14pt;
  color: white;
  font-family: sans-serif;
  
  
}

.dashboard {
  color: white;
  font-size: 18pt;
}

.add-file-form, .create-comment-form, .comment-reply-form, .images {
  border: 1px solid white;
  padding: 5px;
  color: white;
  margin: 20px 0 5px 0;
}

.attach, .post-comment, .post-reply {
  font-size: 10pt;
  color: white;
}

.image-file {
  color: green;
  font-size: 16pt;
}

.ticket-done-status {
  color: green;
}

.member-nav ul li {
  display: inline;
  font-size: 16pt;
  padding: 5px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  margin-left: 15px;
  background: black;
  color: white;
}

.ticket-timestamps, .comment-timestamps, .reply-timestamps, .project-timestamps {
  margin-top: 15px;
}

.ticket-created, .ticket-updated {

}

.item_head {
  cursor:pointer;
}

.status-message-form #StatusMessageMessage { /* this item has changed names to 'project message', previous css rules and html must be changed */
  width:70%;
}

.status-message-form .submit { /* this item has changed names to 'project message', previous css rules and html must be changed */
  display:inline;
}
